#dropdown-menu h2 {
    padding: 14px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}
#dropdown-menu .sample {
    width: 200px;
}
#dropdown-menu .form-group {
    margin: 30px 0;
}

.white{
    background-color: rgba(255,255,255,0) !important;;
    text-align: center;
    width: 250px !important;
}